{
    "acl_datacenter":"{{ pillar['consul']['acl_datacenter'] }}",
    "acl_master_token":"{{ pillar['consul']['acl_master_token'] }}",
    "bootstrap_expect":{{ pillar['consul']['bootstrap_expect'] }},
    "bind_addr":"{{ pillar['consul']['bind_addr'] }}",
    "client_addr":"{{ pillar['consul']['client_addr'] }}",
    "data_dir":"{{ pillar['consul']['data_dir'] }}",
    "datacenter":"{{ pillar['consul']['datacenter'] }}",
    "encrypt":"{{ pillar['consul']['encrypt'] }}",
    "log_level":"{{ pillar['consul']['log_level'] }}",
    "node_name":"{{ grains['nodename'] }}",
    "server":{{ pillar['consul']['server'] }},
    "enable_syslog":{{ pillar['consul']['enable_syslog'] }},
    "enable_debug":{{ pillar['consul']['enable_debug'] }}
}
